@import "src/shared/index";

.container{
  max-width: 60rem;
  margin: 0 auto;

  padding-bottom: 4rem;

  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;

  &:hover{
    .dev{
      background-image: url(https://i.giphy.com/media/0oYBxMzAFU3iHhsPk6/giphy.webp);
      background-size: cover;
      color: transparent;
      -webkit-background-clip: text;
    }
  }

  .dev{
    @include set-font(2rem, normal, 500);
  }

  .contacts{
    @include set-font(1.6rem, normal, 600);
    display: flex;
    gap:1rem;

    a, a:active, a:visited{
      text-decoration: none;
      color: $font-light;
      transition: color 0.2s;
    }

    a:hover{
      color: #f08c00;
      transition: color 0.2s;
    }
  }
}