@import "src/shared/index";

.container {
  z-index: 1;
  display: flex;

  border: 0.2rem solid $color-mfdoom;
  border-radius: 100rem;

  .openBtn {
    width: 2.8rem;
    height: 2.8rem;
  }

  .children {
    background-color: $color-mfdoom;
    padding: 1rem 1rem;
    display: flex;
    flex-direction: column;
    margin-left: 5rem;
    gap: 1rem;
    border-radius: 2rem;
  }
}
