@import "src/shared/index";

.container {
  max-width: 60rem;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  justify-content: center;

  button {
    @extend %filter-task-button-template;

    &:disabled{
      opacity: 65%;
    }
  }

  .filterByDone{
    display: flex;
    gap: 2rem;
  }

  .filterByDate{
    padding-top: 2rem;

    display: flex;
    flex-direction: column;
    align-items: center;

    .filterByDateInputs{
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    input{
      @extend %input-field-template;
      margin-bottom: 1rem;
    }
  }

  @media (max-width: 29.375em) {

    .filterByDone{
      flex-direction: column;
      gap: 0;
    }

    button {
      width: 30rem;
    }
  }
}
