@import "src/shared/index";

.container{
  @extend %container-task-features;

  color: $font-accent;

  .editForm{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #f08c00;
    padding: 2rem 1rem;

    border-radius: 2rem;

    @extend %wrapper-template;

    z-index: 1;

    box-shadow: 0 0 10rem $font-light;
  }

  .label{
    @extend %label-template;
  }

  .input{
    @extend %input-field-template;
  }

  .textarea{
    @extend %textarea-field-template;
  }

  .labelNInput{
    @extend %label-and-input-template;
  }

  .error{
   @extend %error-message-template;
  }

  .addTask{
    @extend %save-task-button-template;
    color: $font-light;
    background-color: $background-light;
  }

  .btnClose{
    @extend %save-task-button-template;
    color: $font-light;
    background-color: $font-accent;
    box-shadow: inset 0 0 0.5rem $font-light;
    max-width: 4rem;
    max-height: 4rem;
    border-radius: 10rem;
    position: absolute;
    top:-1rem ;
    right: 1rem;

    &:active{
      transform: none;
    }
  }
}