@mixin set-font($font-size, $line-height: normal, $font-weight: normal) {
  font-size: $font-size;
  line-height: $line-height;
  font-weight: $font-weight;
}

@mixin setColorTheme($color, $lighten, $darken, $amount) {
  background-color: $color;

  .body,
  button {
    @if $lighten {
      background-color: lighten($color, $amount);
    }

    @if $darken {
      background-color: darken($color, $amount);
    }
  }
}
