// width
$width-container: 60rem;

// colors
$color-kendricklamar: #e9ecef;
$color-mfdoom: #343a40;
$color-popsmoke: whitesmoke;
$color-westsideGunn: #f08c00;
$color-asapRocky: #fff;
$color-dmx: #e03131;

// themes
$color-gravediggaz: #868e96;
$color-billyWoods: #eee9da;
$color-dannybrown: #bdcdd6;
$color-sza: #bbd6b8;
$color-jid: #a7727d;
$color-jcole: #dbe4ff;
$color-frankocean: #ffd8a8;
$color-pusha-t: #bd9354;
$color-playboicarti: #caadde;