// width
$width-container: 120rem;

// colors
$background-light: #e9ecef; //#e9ecef
$font-light: #343a40;
$font-accent: whitesmoke;
$button-background-light: #f08c00; // #f08c00
$task-background-light: #fff;
$done-task-mark: #e03131;
