// width
$width-container: 60rem;

// colors light theme
$color-kendricklamar: #e9ecef;
$color-mfdoom: #343a40;
$color-popsmoke: whitesmoke;
$color-westsideGunn: #f08c00;
$color-asapRocky: #fff;
$color-dmx: #e03131;

