@import "src/shared/index";

.task {
  @extend %center-content-template;
  justify-content: space-between;

  max-width: 60rem;
  margin: 0 auto;

  background-color: $color-asapRocky;

  border-radius: 1.6rem;
  padding: 1rem 2rem;

  transition: all ease-in-out 0.2s;

  position: relative;

  box-shadow: 0 0 2rem rgba($color-mfdoom, 0.4);

  @media (max-width: 40em) {
    max-width: 55rem;
  }

  @media (max-width: 36em) {
    max-width: 50rem;
  }

  @media (max-width: 33.125em) {
    max-width: 45rem;
  }

  @media (max-width: 29.375em) {
    max-width: 40rem;
  }

  @media (max-width: 26.25em) {
    max-width: 35rem;
  }

  @media (max-width: 23.125em) {
    max-width: 30rem;
  }

  &:hover {
    background-color: lighten($color-mfdoom, 25%);
    transition: all ease-in-out 0.2s;
    color: $color-asapRocky;

    box-shadow: inset 0 0 2rem rgba($color-mfdoom, 0.4);

    button {
      background-color: $color-kendricklamar;
    }

    .body {
      background: darken($color-kendricklamar, 25%);
    }
  }

  .title {
    @include set-font(2.4rem, normal, 700);
    text-align: center;
  }

  .body {
    padding: 2rem 2rem;

    margin-top: 1rem;
    margin-left: 0.6rem;
    margin-right: 0.6rem;
    @include set-font(1.6rem);

    background-color: $color-kendricklamar;
    color: $color-mfdoom;
    border-radius: 2rem;
  }

  .titleNBody {
    max-width: 70%;
    overflow-wrap: break-word;
  }

  .done {
    text-decoration: line-through;
    transition: all 0.2s;
    color: lighten($color-mfdoom, 50%);
  }

  button {
    @extend %button-template;
  }

  .trashEditBlock {
    display: flex;
    flex-direction: column-reverse;
    gap: 1.6rem;
  }

  .icon {
    color: $color-mfdoom;
    transition: all ease-in-out 0.2s;

    &:hover {
      color: $color-dmx;
      transition: all ease-in-out 0.2s;
    }
  }

  .trash {
    color: $color-dmx;
    transition: all ease-in-out 0.2s;

    &:hover {
      color: darken($color-dmx, 10%);
      transition: all ease-in-out 0.2s;
    }
  }
}
